
<!doctype html>
<html lang="en" class="no-js">  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>HTML5 Contact Form</title>
	<meta name="description" content="">
	<meta name="author" content="">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css?v=2">
    <script type="text/javascript" src="/js/jquery.js" ></script>
</head>
<body style="padding: 10px">

  <div id="container">
        <div id="contact-form" class="clearfix">
            <h1>Ret Download</h1>
            <h2>SUCCESS,  :)</h2>  
			<br><br>  
 			<h2><a href='/download'> 下载 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/files/a12.txt'>  显示 </a></h2>
			<br><br>  
			<a href='/showipfs'>   返回 </a> 

        </div>
  </div> 
</body>
<script type="text/javascript" src="/js/base.js" ></script>
</html>