
<!doctype html>
<html lang="en" class="no-js">  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>HTML5 Contact Form</title>
	<meta name="description" content="">
	<meta name="author" content="">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css?v=2">
    <script type="text/javascript" src="/js/jquery.js" ></script>
</head>
<body style="padding: 10px">

  <div id="container">
        <div id="contact-form" class="clearfix">
            <h1>Ret Ipfs Rpc</h1>
            <h2>SUCCESS,  :)</h2> 
		    <h2>文件hash:<font color='red'></font></h2> 
			<h3> <font color='red'>{{.Hash}}</font></h3>
			<br><br>
			<h2><a href='/showipfs'>   返回 </a>  </h2> 

        </div>
  </div> 
</body>
<script type="text/javascript" src="/js/base.js" ></script>
</html>