
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html lang="en" class="no-js">  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>HTML5 Contact Form</title>
	<meta name="description" content="">
	<meta name="author" content=""> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">
    <script type="text/javascript" src="/js/jquery.js" ></script>
</head>
<body>
	<div id="container">
        <div id="contact-form" class="clearfix">
            <h1>Call Ethereum Rpc</h1>
            <h2>Call Ethereum Rpc :)</h2>
			<div class="row">
            <form class="ethform" method="post" action="">
			    <label for="name">函数 <b name="funcname">eth_getBalance</b> </label>
                <label for="name">参数1  : </label>
                <input type="text" id="name" name="name" value="0x407d73d8a49eeb85d32cf465507dd71d507100c1" placeholder="" />
                <label for="name">参数2  :</label>
                <input type="text" id="name" name="name" value="latest" placeholder="" />	
			    <label for="name">返回结果</label>
                <input type="text" id="name" name="funcret" value="" placeholder="" /> 
                <input type="submit" name="ethcall" value="Call" id="submit-button" /> 
            </form>
			</div>
			
			<br> <br>
			<div class="row">
            <form class="ethform" method="" action="">
                <label for="name">函数2 <b name="funcname">web3_clientVersion</b> </label>
				<label for="name">返回结果</label>
                <input type="text" id="name" name="funcret" value="" placeholder="" /> 
                <input type="submit" name="ethcall" value="Call" id="submit-button" /> 
            </form> 
			</div>
			
			<br> <br>
			<div class="row">
            <form class="ethform" method="" action="">
                <label for="name">函数2 <b name="funcname">eth_coinbase</b> </label>
				<label for="name">返回结果</label>
                <input type="text" id="name" name="funcret" value="" placeholder="" /> 
                <input type="submit" name="ethcall" value="Call" id="submit-button" /> 
            </form> 
			</div>
						
			
			<br> <br>
			<div class="row">
            <form class="ethform" method="" action="">
                <label for="name">函数2 <b name="funcname">eth_protocolVersion</b> </label>
				<label for="name">返回结果</label>
                <input type="text" id="name" name="funcret" value="" placeholder="" /> 
                <input type="submit" name="ethcall" value="Call" id="submit-button" /> 
            </form> 
			</div>		
	
        </div>
    </div> 
</body>
<script type="text/javascript" src="/js/base.js" ></script> 
</html>