
<!doctype html>
<html lang="en" class="no-js">  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<title>HTML5 Contact Form</title>
	<meta name="description" content="">
	<meta name="author" content="">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">
    <script type="text/javascript" src="/js/jquery.js" ></script>
</head>
<body style="padding: 10px">

  <div id="container">
        <div id="contact-form" class="clearfix">
            <h1>Call Ipfs Rpc</h1>
            <h2>Call Ipfs Rpc :)</h2>

           <form enctype="multipart/form-data" action="/upload" method="post">
             <input type="file" name="uploadfile" />
             <input type="hidden" name="token" value="{{.}}"/>
            <!--
			 <label for="name">返回  </label>
             <input type="text" id="name" name="name" value="" placeholder=""   />
			-->
             <input type="submit" value="上传"   id="submit-button" />
           </form> 
           <br>  <br>  <br>  
           <form method="GET" action="/ipfs">
		     <input type="text" id="id" name="id" value="1" placeholder=""  hidden />
             <label for="name">文件下载  (hash)</label>
             <input type="text" id="name" name="hash" value="QmXBpD37vBm5537pqHwyJRGSaX7hMrkHyp866wqEVU2BE8" placeholder="" required autofocus />
            <!--
			 <label for="name">返回  </label>
             <input type="text" id="name" name="name" value="1" placeholder=""   />
			-->
             <input type="submit" name="ipfscall" value="下载" id="submit-button" />
           </form>         
        </div>
  </div> 
</body>
<script type="text/javascript" src="/js/base.js" ></script>
</html>